main{
    border: 4px solid brown;
    /* border-radius: 5%; */
    width : 50%
    /* %, vw (view width), vh (view height), px (pixels), em, rem */
    /* width: 50vw; */
}
section{
    border: 4px dotted green;
    /* border-radius: 10%; */
    width : 50vw;
    height: 150vh;
}

body{
    font-size : 2em
}

h2{
    /* font-size: 30px; */
    font-size: 4rem;
}