*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 400px;
    border: 2px solid red;
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* gap: 5px; */
    /* row-gap: 5px; */
    flex-flow: wrap row;
    /* flex-start (default), flex-end, center, space-between, space-around, space-evenly, space-between */
    justify-content:space-around;
    /* text-align: center ; */
    align-items: center;
    align-content: center;
}

.box{
    border: 2px solid green;
    /* margin: 10px 0; */
    width: 80px;
    /* flex-basis: 25%; */
    
}

#box-1{
    /* order: 1; */
    /* flex-grow: 1; */
    flex: 0 0 200px;
}

#box-4{
    /* order: 5; */
    /* flex-grow: 2; */
    align-self: stretch;
}

#box-5{
    /* order: 3; */
    /* flex-shrink: 3; */
}