
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: black;
    padding: 15px 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #ff3c00;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #ff3c00;
}


.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url("https://images.unsplash.com/photo-1558611848-73f7eb4001a1") center/cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 3rem;
}

.hero p {
    margin: 15px 0;
    font-size: 1.2rem;
}

.btn {
    background: #ff3c00;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background: white;
    color: #ff3c00;
}


.programs {
    padding: 60px 20px;
    text-align: center;
}

.programs h2 {
    margin-bottom: 30px;
    font-size: 2rem;
}

.program-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #111;
    color: white;
    padding: 30px;
    width: 250px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-1rem);
    background: #ff3c00;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
}
