*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 2px solid red;
    height : 700px;
    display: grid;
    gap: 10px;
    /* grid-template-columns: 25vw 200px 50%; */
    grid-template-columns: 200px 200px 200px;
    /* grid-template-columns: repeat(5, auto); */
    /* grid-template-rows: 150px 70px 110px; */
    /* grid-auto-rows: 120px; */
    /* justify-content: center; */
    /* justify-content: baseline; */
    align-content: left ;
    /* align-content: stretch; */
}

.box{
    border: 2px solid green;
    padding: 12px;
}

#box-1{
    background-color: bisque;
    /* justify-self: center;
    align-self: center; */
    /* grid-column-start: 1; */
    /* grid-column-end: 3; */
    /* shorthand of the above two lines */
    /* grid-column: 1/3; */
    /* grid-row: 1/4; */
    /* similiar to above is below code */
    /* grid-row: 1/span 3; */
    /* shorthand for grid-col and grid-row is below */
    grid-area: 1 / 1 / 3 / 4;
} 

