body {
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    color: #d9d9d9;
    background-color: #606c38;
}

article {
    background-color: #283618;
    color : #fefae0;
    padding : 45px;
    margin: 45px;
    font-size: 16px;
    border-radius: 50%;
}