h1{
      text-decoration: underline;
      text-decoration-color: cyan;
      text-decoration-style: wavy;
      background-color: rgb(112, 95, 212);
      color: yellow;
      text-shadow: 3px 3px 5px ;
      font-family: "Playwrite HU", cursive;
}

p{
   /* text-align: justify;
   text-indent: 40px;
   color: blueviolet;
   text-shadow: 3px 3px 5px ; */
   font-family: "Playwrite HU", cursive;
}