/* 
selectorType
{
    propertykey: propertyvalue;
}
*/
/* 1. Element Selector */
/* p{
    color: red;
}
h2{
    color: white;
    background-color: black;
} */
/* 2. ID Selector */
/* #pId{
    color: blue;
}
#p1Id{
    font-family: cursive;
} */
/* 3. Class Selector */
.highlighter{
    background-color: yellow;
}
.headingstyles{
    font-size: larger;
}
