*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box2{
    padding: 60px;
}

div{
    /* font-size: 30px; */
    /* text-align: center; */
    border: 12px solid greenyellow;
    padding: 10px 40px ;
    margin:  40px 40px;
    width : 250px;
    height : 250px;
}