.box{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    margin: 100px auto;
    transition: 0.5s;
    transition-property: background-color, border-radius,transform;
    /* transition-property: all; */
    /* transition-delay: 0.5ms; */
    /* transition-timing-function: linear; */
}

.box:hover{
    background-color: chartreuse;
    border-radius: 50%;
    transform: rotate(180deg);
}

/* nav{
    background-color: black;
    color: white;
} */

.list{
    display: flex;
    list-style: none;
    gap: 20px;
}

.item{
    font-size: 1.2rem;
    transition: 0.3s ease-in;
}

.item:hover{
    color: red;
    background-color: black;
    cursor: pointer;
    transform: translatey(-12px);
}