*{
    margin: 0;
    padding: 0;
}

body{
    background-color: cornflowerblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 200px;
}

.container{
    width: 280px;
    height: 280px;
    border: 2px solid white;
    animation: orbit 4s linear infinite;
    border-radius: 50%;
}

.box{
    width: 80px;
    height: 80px;
    background-color: lightgrey;
    /* transition: 1s ease-in; */
    /* animation-name: rotate; */
    /* animation-name: shifthebox; */
    /* animation-name: slidein; */
    animation-name: orbit;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    /* animation-direction: alternate-reverse; */
    animation-timing-function: linear;
    /* animation-fill-mode: none; */
    border-radius: 50%;
}

/* .box:hover{
    transform: translate(200px);
} */

@keyframes orbit {
    from{
        transform: rotate(0);
    }   
    to{
        transform: rotate(360deg);
    } 
}

@keyframes slidein {
    0%{
        transform: translate(-200px);
    }
    100%{
        transform: translate(+200px);
    }
}

@keyframes shifthebox {
    0%{
        transform: translate(0, 0);
        border-radius: 50%;
    }
    25%{
        transform: translate(200px, 0);
        border-radius: 0%;
        background-color: yellow;
    }
    50%{
        transform: translate(200px, 200px);
        border-radius: 50%;
    }
    75%{
        transform: translate(0, 200px);
        border-radius: 0%;
        background-color: red;
    }
}

@keyframes rotate {
    0%{
        transform: rotate(360deg);
    }
    25%{
        transform: rotate(360deg);
    }
    50%{
        transform: rotate(360deg);
    }
    75%{
        transform: rotate(360deg);
    }
}

.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.dot{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    animation: loading 1s infinite alternate;
}

.dot:nth-child(2){
    animation-delay: 0.1s;
}

.dot:nth-child(3){
    animation-delay: 0.2s;
}

.dot:nth-child(4){
    animation-delay: 0.3s;
}


@keyframes loading {
    from{
        transform: translatey(-10px);
    }    
    to{
        transform: translatey(10px);
    }
}