.container{
    width: 600px;
    height: 600px;
    background-color: aqua;
    margin: 125px;
    /* position: relative; */
}

.box{
    color: white;
    width: 100px;
    height: 100px;
}

.static{
    position: static;
    background-color: black;
}

.rel{
    position: relative;
    background-color: red;
     top: 100px;
    left: 200px;
} 

.abs{
    background-color: blue;
    position: absolute;
     bottom: 0;
    right: 0;
    z-index: 1;
} 

.fix{
    background-color: brown;
    z-index: 2;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.sti{
    background-color: purple;
    position: sticky;
    top: 300px;
    left: 120px;
}

.blankspace{
    height: 800px;
}